* {
  font-family: sans-serif !important;
}

body {
  background: #1B5691;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topbar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
}

.topbutton:nth-child(2) {
  margin-left: auto;
}

a, h2{
  display: block;
  padding: 8px;
  background: rgb(102,153,204,.9);
}
.topbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 8px;
  margin:3px;
}
.topbar h2 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 21px;
  margin:3px;
  border-radius: 10px;
}
.topbar a:hover {
  background: rgb(102,170,204,1);
  color: black;
}
.active {
  background: rgb(102,170,204,1);
  color: white;
} 

.subtext {
  display: block;
}
.projectBox {
  padding: 8px;
  background: rgb(102,153,204,.9);
  margin:5px;
  text-align: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodycontainer {
  padding-top: 16px;
}
.projectPicture {
  width: 60%;
}

.type {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 21px;
  margin: 16px auto;
}
a.projectlink {
  background: None;
}
.projectlink {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 8px;
  margin:3px;
  border-color: #f2f2f2;
  border-width: 1px;
  border-style: solid;
  margin: 16px auto;
}